.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnignore
.eslintignore
.eslintrc*
.prettierrc*
tsconfig.json
tsconfig.*.json
**/*.map
**/*.ts
.gitattributes
.git/**
.github/**
.travis.yml
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log
